.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
}
.item{
    background-color: rgb(172, 98, 242);
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}