.heading h1{
    background-color: black;
    color: rgb(255, 255, 255);;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
}
.heading img{
    vertical-align: middle;
    display: flex;
    width: 40px;
    height: 40px;
}
.header{
    display: flex; 
}
.image1 img{
    width: 400px;
    height: 450px;
    border-radius: 10px;
}

.content p{
    padding-left: 2%;
    font-weight: bolder;
}
.main{
    display: flex;
    
}
.image2 img{
    width: 400px;
    height: 450px;
    border-radius: 10px;
}
.gt h1{
    padding-left: 40%;
}
.gt p{
    padding-left: 20px;
    font-weight: bolder;
}
.section{
    display: flex;
   
}
.image3 img{
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
.look h1{
    padding-left: 20px;
}
.look p{
    padding-left: 20px;
    font-weight: bolder;    
}
input[type="text"]{
    background-color: rgba(108, 104, 104, 0.601);
    width: 500px;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}
.input{
    padding-left: 25%;
}
